.main{
	width: 1080px;
	margin: auto;
	background: #f9f9f9;
	padding-bottom: 100px;
	.navs{
		width: 1080px;
		margin: auto;
		font-size: 13px;
		color: #808080;
		padding: 20px 0;
		a{
			color: #333333;
		}
	}
	.connt{
		width: 1080px;
		height: 500px;
		.left{
			width: 562px;
			height: 500px; 
			float: left;
			position: relative;
			#midles{
				float: left;
				width: 460px;
				height: 460px;
				border: 1px solid #ccc;
				img{
					width: 100%;
					height: 100%;
				}
			}
			ul{
				width: 82px;
				height: 460px;
				float: right;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				li{
					width: 80px;
					height: 80px;
					border: 1px solid #ccc;
					cursor: pointer;
					img{
						width: 100%;
						height: 100%;
					}
				}
			}
			.left_bottom{
				width: 562px;
				height: 40px;
				float: left;
				line-height: 40px;
				font-size: 12px;
				color: #333;
				span{
					padding-left: 20px;
					margin-right: 15px;
					background: url(../img/details/policy-icon.png) no-repeat;
				}
			}
		}
		.right{
			width: 465px;
			height: 460px;
			float: right;
			.top{
				width: 465px;
				height: 74px;
				border-bottom: 1px solid #ccc;
				#dt_id{
					display: none;
				}
				h3{
					font-size: 20px;
					font-weight: normal;
					color: #333;
					margin-bottom: 14px;
				}
				p{
					font-size: 14px;
					color: #999;
					margin-bottom: 14px;
				}
			}
			.paln{
				width: 465px;
				height: 211px;
				margin-top: 20px;
				color: #666;
				.box{
					width: 465px;
					height: 35px;
					margin-bottom: 20px;
					span{
						float: left;
						line-height: 35px;
					}
					div{
						float: left;
						margin-left: 40px;
						span{
							margin-right: 40px;
							float: left;
							display: inline-block;
							height: 35px;
							font-size: 14px;
						}
						.ccl{
							color: #f85453;
							line-height: 35px;
							i{
								font-size: 28px;
								font-style: normal;
								vertical-align: -3px;
							}
						}
					}
					ul{
						height: 35px;
						float: left;
						margin-left: 40px;
						li{
							cursor: pointer;
							height: 35px;
							padding: 0 23px;
							text-align: center;
							line-height: 35px;
							float: left;
							margin-right: 8px;
							border: 1px solid #523669;
							box-sizing: border-box;
							position: relative;
							em{
								width: 22px;
								height: 22px;
								display: inline-block;
								background: url(../img/details/specs-active.png) no-repeat;
								position: absolute;
								right: 0;
								bottom: 0;
							}
						}
						.nocheck{
							border-color: #ccc;
							em{
								display: none;
							}
						}
					}
				}
				a{
					color: #666;
					font-size: 12px;
					display: inline-block;
					margin-left: 70px;
				}
				.num{
					width: 78px;
					height: 30px;
					border: 1px solid #b3b3b3;
					overflow: hidden;
					float: left;
					color: #8c8b8b;
					display: flex;
					justify-content: space-between;
					align-items: center;
					span{
						box-sizing: border-box;
						display: inline-block;
						width: 30px;
						height: 26px !important;
						cursor: pointer;
						margin-right: 0px !important;
						text-align: center;
						line-height: 26px;
					}
				}
			}
			.btns{
				display: flex;
				justify-content: space-around;
				margin-right: 40px;
				.whsb{
					width: 180px;
					height: 40px;
					float: left;
					text-align: center;
					line-height: 40px;
					color: #fff;
					font-size: 18px;
				}
				.buynow{
					background: #523669;
				}
				.addcart{
					background: #f7b200;
					color: #fff;
					font-size: 18px;
				}
			}
			
			
		}
	}
	.section_view{
		width: 1080px;
		margin: auto;
		margin-top: 40px;
		.top{
			width: 1080px;
			background: #EEECEF;
			height: 60px;
			border: 1px solid #ccc;
			box-sizing: border-box;
			a{
				color: #333;
				font-size: 16px;
				float: left;
				width: 240px;
				border-right: 1px solid #ccc;
				box-sizing: border-box;
				line-height: 59px;
				text-align: center;
				span{
					float: left;
					width: 20px;
					height: 59px;
					background: url(../img/details/supplier-icon.png) no-repeat;
					margin-left: 20px;
					position: relative;
					left: 10px;
					top: 20px;
				}
				i{
					font-style: normal;
				}
			}
			ul{
				height: 60px;
				box-sizing: border-box;
				li{
					width: 180px;
					float: left;
					text-align: center;
					color: #333;
					height: 59px;
					line-height: 60px;
					border-right: 1px solid #ccc;
					box-sizing: border-box;
				}
				.on{
					background: #fff;
					color: #523669;
					border-bottom: 3px solid #523669;
				}
			}
		}
		.bott{
			width: 1080px;
			.left{
				width: 241px;
				padding: 20px;
				border: 1px solid #ccc;
				border-top: none;
				box-sizing: border-box;
				float: left;
				.shop{
					height: 78px;
					.shop_logo{
						width: 76px;
						height: 76px;
						border: 1px solid #ccc;
						box-sizing: border-box;
						float: left;
						background: url(../img/details/head.jpg) no-repeat;
						background-size: 76px 76px;
						position: relative;
						.supplier{
							display: none;
							width: 200px;
							background: #fff;
							box-shadow: 0 1px 10px 4px rgba(0,0,0,.05);
							position: absolute;
							top: 90px;
							left: -1px;
							padding: 20px 10px;
							box-sizing: border-box;
    						border-radius: 3px;
							em{
								width: 76px;
								height: 15px;
								position: absolute;
								top: -15px;
								left: 0px;
								background: url(../img/details/triangle.png) no-repeat center center;
							}
							span{
								font-size: 16px;
								border-bottom: 1px solid #f2f2f2;
								width: 180px;
								display: block;
								text-align: center;
								padding-bottom: 20px;
							}
							p{
								font-size: 12px;
								line-height: 20px;
								color: #333;
								padding-top: 20px;
							}
						}
						&:hover{
							.supplier{
								display: block;
							}
						}
					}
					ul{
						font-size: 12px;
						width: 100px;
						height: 76px;
						float: left;
						padding-top: 15px;
						margin-left: 10px;
						box-sizing: border-box;
						li{
							line-height: 20px;
							i{
								color: #f7b200;
								font-style: normal;
							}
						}
					}
				}
				.shop_into{
					display: block;
					width: 200px;
					height: 40px;
					color: #fff;
					line-height: 40px;
					text-align: center;
					background: #f7b200;
					margin-top: 20px;
				}
				.lists{
					width: 200px;
					margin-top: 40px;
					li{
						border-bottom: 1px solid #ccc;
						margin-top: 20px;
						a{
							color: #333;
							text-align: center;
							i{
								width: 200px;
								height: 200px;
								img{
									width: 200px;
									height: 200px;
								}
							}
							dl{
								margin-top: 20px;
								dd{
									color: #ff3333;
									margin: 10px 0;
								}
							}
						}
						&:last-child{
							border-bottom: none;
						}
					}
				}
			}
			.right{
				width: 800px;
				float: left;
				margin: 40px 0 0 38px;
				.tabs{
					width: 800px;
					height: 272px;
					dl{
						width: 800px;
						border-bottom: 2px dotted #cecece;
						line-height: 32px;
						dt{
							width: 160px;
							float: left;
							color: #666;
						} 
						dd{
							color: #333;
						}
					}
				}
			}
		}
	}
}