input{
	outline: none;
}
.contiuner{
	width: 100%;
	height: 135px;
	color: #fff;
	.contiuner_top{
		width: 100%;
		height: 30px;
		margin: auto;
		background: #333333;
		.connt{
			width: 1080px;
			height: 30px;
			margin:auto;
			font-size: 12px;
			line-height: 30px;
			ul{
				float: right;
				height: 30px;
				li{
					padding: 0 10px;
					float: left;
					color: #ccc;
				}
				.dope{
					background: url(../img/msgcenter.png) no-repeat 12px 10px;
				}
				.cart{
					background: #523669 url(../img/shopCar.png) no-repeat 12px 8px;
				}
			}
		}
		span{
			margin: 0 15px;
		}
		a{
			color: #ccc;
		}
	}
	.contiuner_search{
		width: 1080px;
		height: 105px;
		margin: auto;
		padding-top: 25px;
		h1{
			width: 239px;
			height: 51px;
			float: left;
		}
		.box{
			float: right;
			.search{
				width: 540px;
				height: 40px;
				border: 1px solid #ccc;
				border-radius: 5px;
				.text{
					width: 497px;
					height: 40px;
					float: left;
					margin-left: 2px;
					padding-left: 10px;
					box-sizing: border-box;
					border: none;
					border-right: 1px solid #ccc;
				}
				button{
					width: 40px;
					height: 40px;
					float: left;
					border: none;
					background: url(../img/search.png) no-repeat center center;
				}
				ul{
					width: 473px;
					display: flex;
					justify-content: space-between;
					font-size: 12px;
					padding-top: 10px;
					li{
						a{
							color: #808080;
						}
					} 
				}
			}
		}
	}
}