.contiuner{
	width: 100%;
	height: 135px;
	color: #fff;
}
.contiuner_top{
	width: 100%;
	height: 30px;
	margin: auto;
	background: #333;
}
.contiuner_top .box{
	width: 1080px;
	height: 30px;
	margin:auto;
	font-size: 12px;
	line-height: 30px;
}

.contiuner_top span{
	margin: 0 15px;
}
.contiuner_top a{
	color: #ccc;
}
.contiuner_search{
	width: 1080px;
	height: 105px;
	margin: auto;
}