*{margin: 0;padding: 0;}
a{
	text-decoration: none;
}
ul li{
	list-style:none;
}
.main{
	width: 100%;
	background: #f9f9f9;
	.banner{
		width: 100%;
		height: 410px;
		margin: auto;
		.top{
			width: 100%;
			height: 40px;
			background: #fff;
			.box{
				width: 1080px;
				height: 40px;
				margin: auto;
				ul{
					width: 460px;
					li{
						float: left;
						line-height: 40px;
						padding: 0 30px;
						a{
							color: #000;
							&:hover{
								color:#f7b200;
							}
						}
						&:nth-child(1){
							width: 200px;
							height: 40px;
							background: #f2f2f2 url(../img/index/nav-list.png) no-repeat 20px 15px;
							box-sizing: border-box;
							padding-left: 45px;
						}
						&:nth-child(2){
							height: 20px;
							border-right: 1px solid #ccc;
							margin-top: 10px;
							line-height: 20px;
						}
					}
				}
			}
		}
		.connt{
			width: 1080px;
			height: 360px;
			margin: auto;
			margin-top: 10px;
			background: url(../img/index/1.jpg) no-repeat;
			.left{
				width: 200px;
				height: 360px;
				position: relative;
				float: left;
				background: #636167;
				ul{
					color: #fff;
					font-size: 14px;
					margin-top: 20px;
					li{
						padding-left: 30px;
						box-sizing: border-box;
						width: 200px;
						line-height: 40px;
						cursor: pointer;
						&:hover{
							background:#838185;
						}
						a{
							color: #fff;
							&:hover{
								color:#f7b200;
							}
						}
						span{
							font-size: 16px;
							margin: 0 5px;
						}/*
						.box{
							width: 700px;
							position: absolute;
							left: 200px;
							top: 0px;
							background: #fff;
							ul{
								li{
									float: left;
									color: #808080;

									padding: 0;
								}
							}
						}*/
					}
				}
			}
		}

	}
	.biyaoshuo{
		width: 1080px;
		height: 55px;
		background: #fff;
		margin: auto;
		.left{
			width: 200px;
			height: 55px;
			float: left;
			background: url(../img/index/biyaoshuo.png) no-repeat center center;
			background-size: 85px 20px;
		}
		.right{
			width: 880px;
			height: 55px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			a{
				color: #000;
				border-left: 1px solid #ccc;
				padding-left: 20px;
			}
			time{
				padding: 0 20px;
			}
		}
	}
	.news{
		width: 1080px;
		height: 220px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
	}
	.chosen{
		width: 1080px;
		height: 325px;
		margin: auto;
		margin-top: 40px;
		p{
			width: 1080px;
			height: 24px;
			font-size: 24px;
			line-height: 24px;
			color: #333;
			margin-bottom: 20px;
		}
		ul{
			width: 1080px;
			height: 280px;
			overflow: hidden;
			&:hover{
				li{
					width: 80px;
				}
			}
			li{
				width: 80px;
				height: 280px;
				float: left;
				padding: 0 5px;
				transition: all 1s; /*值1表示所有属性 值2表示过渡动画的时间*/
				&:hover{
					width: 620px;
				}
			}
		}
	}
}