.main{
	width: 100%;
	background: #f9f9f9;
	padding-bottom: 100px;
	.banner{
		width: 100%;
		height: 410px;
		margin: auto;
		.top{
			width: 100%;
			height: 40px;
			background: #fff;
			.box{
				width: 1080px;
				height: 40px;
				margin: auto;
				ul{
					width: 460px;
					li{
						float: left;
						line-height: 40px;
						padding: 0 30px;
						a{
							color: #000;
							&:hover{
								color:#f7b200;
							}
						}
						&:nth-child(1){
							width: 200px;
							height: 40px;
							background: #f2f2f2 url(../img/index/nav-list.png) no-repeat 20px 15px;
							box-sizing: border-box;
							padding-left: 45px;
						}
						&:nth-child(2){
							height: 20px;
							border-right: 1px solid #ccc;
							margin-top: 10px;
							line-height: 20px;
						}
					}
				}
			}
		}
		.connt{
			width: 1080px;
			height: 360px;
			margin: auto;
			margin-top: 10px;
			position: relative;
			.left{
				width: 200px;
				height: 360px;
				position: absolute;
				z-index: 999;
				float: left;
				background: url(../img/index/category-back.png);
				/*background: rgba(95, 95, 95, 0.6);*/
				ul{
					color: #fff;
					font-size: 14px;
					margin-top: 20px;
					li{
						padding-left: 30px;
						box-sizing: border-box;
						width: 200px;
						line-height: 40px;
						cursor: pointer;
						&:hover{
							background:#838185;
						}
						a{
							color: #fff;
							&:hover{
								color:#f7b200;
							}
						}
						span{
							font-size: 16px;
							margin: 0 5px;
						}/*
						.box{
							width: 700px;
							position: absolute;
							left: 200px;
							top: 0px;
							background: #fff;
							ul{
								li{
									float: left;
									color: #808080;

									padding: 0;
								}
							}
						}*/
					}
				}
			}
			.right{
				float: left;
				#lbt{
					width: 1080px;
					height: 360px;
					overflow: hidden;
					li{
						position: absolute;
						top: 0;
						left: 0;
						display: none;
					}
				}
				#porlter{
					position: absolute;
					bottom: 20px;
					right: 100px;
					li{
						width: 15px;
						height: 15px;
						float: left;
						border: 2px solid #fff;
						box-sizing: border-box;
						border-radius: 50%;
						margin: 0 5px;
					}
					.cur{
						background: #1fc6fb;
					}
				}
				.slide{
					display: none;
					position: absolute;
					top: 150px;
					right: 20px;
					cursor: pointer;
				}
				#porv{
					left: 220px;
				}
				&:hover{
					.slide{
						display: block;
					}
				}
			}
		}

	}
	.biyaoshuo{
		width: 1080px;
		height: 55px;
		background: #fff;
		margin: auto;
		.left{
			width: 200px;
			height: 55px;
			float: left;
			background: url(../img/index/biyaoshuo.png) no-repeat center center;
			background-size: 85px 20px;
		}
		.right{
			width: 880px;
			height: 55px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			a{
				color: #000;
				border-left: 1px solid #ccc;
				padding-left: 20px;
			}
			time{
				padding: 0 20px;
			}
		}
	}
	.news{
		width: 1080px;
		height: 220px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
	}
	.chosen{
		width: 1080px;
		height: 325px;
		margin: auto;
		margin-top: 40px;
		p{
			width: 1080px;
			height: 24px;
			font-size: 24px;
			line-height: 24px;
			color: #333;
			margin-bottom: 20px;
		}
		ul{
			width: 1080px;
			height: 280px;
			overflow: hidden;
			/*&:hover{
				li{
					width: 80px;
				}
			}*/
			li{
				width: 80px;
				height: 280px;
				float: left;
				padding-left: 12px;
				overflow: hidden;
				/*transition: all 1s; 值1表示所有属性 值2表示过渡动画的时间
				&:hover{
					width: 620px;
				}*/
				&:first-child{
					padding-left: 0px;
				}
			}
			.onminW{
				width: 80px;
			}
			.onmaxW{
				width: 620px;
			}
		}
	}
	.lists{
		width: 1080px;
		margin: auto;
		p{
			height: 24px;
			font-size: 24px;
			line-height: 24px;
			color: #333;
			margin-top: 40px;
			margin-bottom: 20px;
			span{
				float: right;
				font-size: 16px;
			}
		}
		.box{
			width: 1080px;
			height: 280px;
			margin-bottom: 15px;
			display: flex;
			justify-content: space-between;
			text-align: center;
			a{
				color: #333333;
				width: 205px;
				background: #fff;
				overflow: hidden;
				i{
					display: inline-block;
					width: 205px;
					height: 205px;
					overflow: hidden;
					img{
    					transition: 1s;
    					&:hover{
    						transform: scale(1.1);
    					}
					}
				}
				span{
					display: inline-block;
					margin-top: 15px;
					font-size: 20px;
				}
				dl{
					dt{
						margin-top: 15px;
					}
					dd{
						margin-top: 5px;
						color: #ff3333;
					}
				}
			}
			.firsts{
				width: 425px;
				i{
					display: inline-block;
					width: 425px;
					height: 205px;
					img{
						width: 464px;
						height: 205px;
						position: relative;
    					left: -20px;
					}
				}
			}
		}
	}
}

.fixds{
	width: 48px;
	height: 96px;
	position: fixed;
	right: 30px;
	bottom: 100px;
	cursor: pointer;
	li{
		width: 48px;
		height: 48px;
		&:nth-child(1){
			background: url(../img/index/rightBar-code.png) no-repeat;
			div{
				width: 276px;
				position: absolute;
				left: -280px;
				top: -65px;
				padding-top: 5px;
				background: #fff;
				border-radius: 4px;
    			box-shadow: 0 1px 10px 4px rgba(0,0,0,.05);
    			display: none;
				span{
					width: 15px;
					height: 48px;
					position: absolute;
					right: -15px;
					top: 65px;
					background: url(../img/index/right-triangle.png) no-repeat center center;
				}
				dl{
					width: 130px;
					padding: 4px 4px 10px 4px;
					float: left;
					dt{
						width: 125px;
						img{
							width: 125px;
							height: 125px;
						}
					}
					dd{
						font-size: 14px;
						color: #523669;
						text-align: center;
					}
				}
			}
			&:hover{
				background: url(../img/index/rightBar-codeActive.png) no-repeat;
				div{
					display: block;					
				}
			}
		}
		&:nth-child(2){
			a{
				display: inline-block;
				width: 48px;
				height: 48px;
				background: url(../img/index/rightBar-top.png) no-repeat;				
			}
			&:hover{
				a{
					background: url(../img/index/rightBar-topActive.png) no-repeat;
				}
			}
		}
	}
}
.fidx_top{
	display: none;
	width: 100%;
	height: 60px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,.05);
	z-index: 99999;
	position: fixed;
	top: 0;
	.conts{
		width: 1080px;
		height: 60px;
		margin: auto;
		.p_c{
			width: 90px;
			height: 60px;
			line-height: 60px;
			float: left;
			color: #666;
			cursor: pointer;
			i{
				float: right;
			}
			.left{
				display: none;
				width: 200px;
				height: 360px;
				position: absolute;
				z-index: 999;
				float: left;
				background: url(../img/index/category-back.png);
				/*background: rgba(95, 95, 95, 0.6);*/
				ul{
					color: #fff;
					font-size: 14px;
					margin-top: 20px;
					li{
						padding-left: 30px;
						box-sizing: border-box;
						width: 200px;
						line-height: 40px;
						cursor: pointer;
						&:hover{
							background:#838185;
						}
						a{
							color: #fff;
							&:hover{
								color:#f7b200;
							}
						}
						span{
							font-size: 16px;
							margin: 0 5px;
						}
					}
				}
			}
			&:hover{
				.left{
					display: block;
				}
			}
		}
		.search{
			width: 350px;
			height: 40px;
			float: right;
			margin-top: 9px;
			border: 1px solid #ccc;
			border-radius: 5px;
			.text{
				width: 307px;
				height: 40px;
				float: left;
				margin-left: 2px;
				padding-left: 10px;
				box-sizing: border-box;
				border: none;
				border-right: 1px solid #ccc;
			}
			button{
				cursor: pointer;
				width: 40px;
				height: 40px;
				float: left;
				border: none;
				background: url(../img/search.png) no-repeat center center;
			}
		}
	}
}

